
*.pdf
*.png
*.aux
*.fls
*.listing
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fdb_latexmk
*.gz
*.bbl
*.blg
*.log
*.csv
python_basics/_minted-python_basics_2/
python_basics/_minted-python_basics_3/
python_basics/_minted-python_basics_4/
python_basics/pydoc_demo/
python_basics/text_files/
.idea/
out/
.vscode/
python_basics/movie_1.txt
python_basics/movie_2.txt
