
*.pdf
*.png
*.aux
*.fls
*.listing
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fdb_latexmk
*.gz
*.bbl
*.blg
*.log
*.csv
*.pyc
python_basics/_minted-python_basics_2/
python_basics/_minted-python_basics_3/
python_basics/_minted-python_basics_4/
.idea/
out/
.vscode/
.ipynb_checkpoints
